:root {
    --btn-padding: 13px 30px;
    --perpel-color-btn:hsl(278, 64%, 63%);
    --perpel-color:#e139eb;
    --gry-text: #6c6b6b;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow:  0 0 10px 0 #c5c5c5;
    position: fixed;
    top:0;
    width: 100%;
    background-color: white;
}

.logo{
    display: flex;
    align-items: center;
}

.nav-links{
    display: flex;
    align-items: center;
}
.nav-links ul{
    display: flex;
}
.nav-links ul li{
    list-style:none;
    padding: 0 10px;
}


.contact-btn button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--perpel-color-btn);
    color:white;
    padding: var(--btn-padding);
    border: none;
    border-radius: 6px;
}



/* ===================== */
